@charset "UTF-8";

header {
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
}


nav > a {
    text-decoration: none;
    margin-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    color: white;

}

main > p {
    text-align: justify;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
}

.price {
    text-align: start;
}