@charset "UTF-8";

body {
    height: 100vh;

    /* SHORTHAND DE BACKGROUND = COLOR > IMAGE > POSITION > REPEAT > [SIZE] > ATTACHMENT */

    background: black url('./imagens/wallpaper002.jpg') center center no-repeat  fixed;
    background-size: cover;
}

main {
    background-color: white;
    max-width: 320px;
    padding: 10px;
    margin: auto;
    text-align: justify;
    border: 2px solid black;
    border-radius: 10px;
}