@charset "UTF-8";

body {
    background-image: url('https://gustavoguanabara.github.io/html-css/imagens/mascote.png');
    background-size: 100px 100px; /* SO OBEDECE ESSE TAMANHO SETADO POR CAUSA DA PROPRIEDADE BACKGROUND-SIZE */
    background-repeat: no no-repeat;
}