body {
    font-family: Arial, Helvetica, sans-serif;
}

table {
    width: 400px;
    height: 400px;
    border-collapse: collapse;
}

tr {
    background-color: rgb(202, 198, 198);
}

td {
    border: 1px solid black;
    padding: 8px;
    vertical-align: top ;
}